---
---

<section class='flex flex-col gap-8 justify-between'>
  <p class='text-9xl font-bold dm-serif'>404</p>
  <h2 class='text-4xl outfit'>Page Not Found</h2>
  <p class='text-xl sm:text-3xl sanchez'>
    Sorry, we couldn't find the page you were looking for.
  </p>
  <a
    href='/'
    title='Go back home'
    class='px-4 py-2 border-2 border-black hover:bg-red transition-colors duration-150 ease-in-out w-48 text-center poppins'
    >&larr; Go Home</a
  >
</section>
