@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "DM Serif Text";
  font-style: normal;
  font-display: swap;
  src: url("/fonts/dm-serif.ttf") format("truetype");
}

@font-face {
  font-family: "Outfit";
  font-style: normal;
  font-display: swap;
  src: url("/fonts/outfit.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-display: swap;
  src: url("/fonts/poppins.ttf") format("truetype");
}

@font-face {
  font-family: "Righteous";
  font-style: normal;
  font-display: swap;
  src: url("/fonts/righteous.ttf") format("truetype");
}

@font-face {
  font-family: "Sanchez";
  font-style: normal;
  font-display: swap;
  src: url("/fonts/sanchez.ttf") format("truetype");
}

.outfit {
  font-family: 'Outfit', sans-serif;
}
.righteous {
  font-family: 'Righteous', sans-serif;
}
.dm-serif {
  font-family: 'DM Serif Text', serif;
}
.fredoka {
  font-family: 'Fredoka One', sans-serif;
}
.poppins {
  font-family: 'Poppins', sans-serif;
}
.sanchez {
  font-family: 'Sanchez', serif;
}
.card-shadow {
  filter: drop-shadow(7px 7px 0 rgb(0 0 0 / 1));
  transition: all;
  transition-duration: 0.5s;
  animation: ease-in-out;
}
.card-shadow:hover {
  filter: drop-shadow(5px 5px 0 rgb(0 0 0 / 1));
}


::-webkit-scrollbar {
  width: 22px;
  background-color: var(--primary);
}

::-webkit-scrollbar-track {
  background: linear-gradient(45deg, var(--secondary) 25%, transparent 25%, transparent 75%, var(--secondary) 75%, var(--secondary)), linear-gradient(45deg, var(--secondary) 25%, transparent 25%, transparent 75%, var(--secondary) 75%, var(--secondary));
  background-color: var(--primary);
  background-size: 4px 4px;
  background-position: 0 0, 2px 2px;
  width: 10px;
  border-left: 3px solid var(--secondary);
}

::-webkit-scrollbar-thumb {
  width: 20px;
  box-sizing: content-box;
  background-color: var(--primary);
  border: 2px solid var(--secondary);
  border-right: none;
}

::-webkit-scrollbar-button:horizontal:start:decrement,
::-webkit-scrollbar-button:horizontal:end:increment,
::-webkit-scrollbar-button:vertical:start:decrement,
::-webkit-scrollbar-button:vertical:end:increment {
  display: block;
}

::-webkit-scrollbar-button:vertical:start {
  background-repeat: no-repeat;
  height: 23.38px;
  background-image: svg-load("/icon/scrollbar-up.svg");
}
::-webkit-scrollbar-button:vertical:start:active {
  background-repeat: no-repeat;
  height: 23.38px;
  background-image: svg-load("/icon/scrollbar-up-active.svg");
}
::-webkit-scrollbar-button:vertical:end {
  height: 23.38px;
  background-image: svg-load("icon/scrollbar-down.svg");
}
::-webkit-scrollbar-button:vertical:end:active {
  background-repeat: no-repeat;
  height: 23.38px;
  background-image: svg-load("/icon/scrollbar-down-active.svg");
}

::-webkit-scrollbar-button:horizontal:start {
  background-repeat: no-repeat;
  height: 23.38px;
  background-image: svg-load("/icon/scrollbar-left.svg");
}
::-webkit-scrollbar-button:horizontal:start:active {
  background-repeat: no-repeat;
  height: 23.38px;
  background-image: svg-load("/icon/scrollbar-left-active.svg");
}
::-webkit-scrollbar-button:horizontal:end {
  height: 23.38px;
  background-image: svg-load("/icon/scrollbar-right.svg");
}
::-webkit-scrollbar-button:horizontal:end:active {
  background-repeat: no-repeat;
  height: 23.38px;
  background-image: svg-load("/icon/scrollbar-right-active.svg");
}

html {
  scroll-behavior: smooth;
}
