---
---

<footer class='bg-black text-white p-6'>
  <h2 class='hidden'>Footer</h2>
  <p class='outfit'>
    Brutal theme for Astro - by <a
      href='https://www.elian.codes/'
      target='_blank'
      class='text-blue'>ElianCodes</a
    >
  </p>
</footer>
