---
import RecentBlogPosts from '@components/generic/RecentBlogPosts.astro';
import Layout from '@layouts/Default.astro';
import ErrorPage from '@components/errors/404.astro';
---

<Layout
  title='Page Not Found'
  description='Page not found'
  classList='h-full'
  pageTitle='Page Not Found!'
>
  <main class='bg-blue px-6 py-24'>
    <ErrorPage />
    <RecentBlogPosts />
  </main>
</Layout>
