---
import Layout from '../layouts/Default.astro';
import EventSummaryCard from '../components/events/EventSummaryCard.astro';

interface Event {
  name: string;
  title: string;
  link: string;
  date: Date | any;
  abstract: string;
  type: string;
  blogpost?: string;
  subtype?: string;
  videolink?: string;
  emoji?: string;
}

let events: Event[] = await fetch(
  'https://us-central1-eliancodes-1632771244788.cloudfunctions.net/events'
).then((res) => res.json());
events = events
  .map((event: Event): Event => {
    const seconds = event.date._seconds;
    event.date = new Date(0);
    event.date.setUTCSeconds(seconds);
    return event;
  })
  .sort((a, b) => b.date - a.date);
---

<Layout
  title='Events'
  pageTitle="Elian Codes | Events"
  description='See upcoming and past events Elian took part in as a speaker (mostly Astro & JavaScript).'
>
  <main class='bg-yellow p-6'>
    <ul class='grid md:grid-cols-3 gap-8'>
      {
        events.map((event) => (
          <li>
            <EventSummaryCard event={event} />
          </li>
        ))
      }
    </ul>
  </main>
</Layout>
