---
import SocialIcon from '@components/generic/SocialIcon.astro';

type SocialIconName = 'github' | 'twitter' | 'linkedin' | 'rss';

const socials: Array<{ name: string; url: string; icon: SocialIconName }> = [
  {
    name: 'GitHub',
    url: 'https://github.com/eliancodes',
    icon: 'github',
  },
  {
    name: 'Twitter',
    url: 'https://www.twitter.com/eliancodes',
    icon: 'twitter',
  },
  {
    name: 'LinkedIn',
    url: 'https://www.linkedin.com/in/elianvancutsem',
    icon: 'linkedin',
  },
];
---

<section class='md:hidden'>
  <h2 class='hidden'>Socials section</h2>
  <ul class='flex justify-between'>
    {
      socials.map((item) => (
        <li class='rounded border-2 border-black bg-white px-4 py-2 text-green-700 card-shadow'>
          <a href={item.url} target='_blank' rel='noopener' title={`Go to ${item.name}`}>
            <SocialIcon icon={item.icon} class='p-6' />
          </a>
        </li>
      ))
    }
  </ul>
</section>
