---
interface Heading {
  depth: number;
  slug: string;
  text: string;
}

interface Props {
  headings?: Heading[];
}

const { headings = [] } = Astro.props;
---

<aside>
  <nav class='hidden lg:block sticky top-6'>
    <ul>
      {
        headings.map((heading) => (
          <li class='py-1'>
            {[...Array(heading.depth - 1)].map((_, _i) => (
              <span class='inline-block w-4' />
            ))}
            <a
              class='text-black transition-all duration-150 ease-in-out hover:text-stone-500 poppins'
              href={`#${heading.slug}`}
            >
              {heading.text}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</aside>
