---
interface Props {
  pubDate: Date;
  author: string;
}

const { pubDate, author } = Astro.props;
---

<article class='w-full max-w-sm poppins md:max-w-prose md:prose md:prose-slate'>
  <a href='/blog/' title='Back to blog'>&larr; Back to blog</a>
  <p class='text-sm text-slate-700 md:text-base'>
    Published on {pubDate} by {author}
  </p>
  <slot />
  <p class='text-slate-700'>Written by {author}</p>
  <a href='/blog/' title='Back to blog'>&larr; Back to blog</a>
</article>
