---
import Layout from './Default.astro';
import BlogSideBar from '@components/blog/BlogSideBar.astro';
import BlogContent from '@components/blog/BlogContent.astro';
import RecentBlogPosts from '@components/generic/RecentBlogPosts.astro';

const ogImage = new URL(`/v1/generate/og/${Astro.params.slug}.png`, Astro.url);

const { content, headings } = Astro.props;
const { title, description } = content;
---

<Layout
  title={title as string}
  description={description as string}
  ogImage={ogImage}
>
  <main class='p-6 lg:grid lg:grid-cols-3 flex justify-center'>
    <BlogSideBar headings={headings} />
    <BlogContent content={content}>
      <slot />
    </BlogContent>
  </main>
  <section class='p-6'>
    <RecentBlogPosts count={6} />
  </section>
</Layout>
