---
interface Props {
  color: string;
  extraClasses?: string;
}

const { color, extraClasses } = Astro.props;
---

<div
  class:list={[
    `bg-${color}`,
    'card-shadow border-black border-3 rounded-lg p-4',
    extraClasses,
  ]}
>
  <slot />
</div>
